@model ToDoViewModel

<form asp-action="Insert" id="form-action" method="post" role="form">
    <div asp-validation-summary="All"></div>
    <label asp-for="ToDo.Name" /></label>
    <input asp-for="ToDo.Id" type="hidden" />
    <input asp-for="ToDo.Name" />
    <span asp-validation-for="ToDo.Name"></span>
    <input type="submit" id="form-button" value="Add ToDo" />
</form>