@model ToDoViewModel

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToDoList)
        {
            <tr>
                <td class="todos-column" scope="row">@item.Id</td>
                <td class="todos-column">@item.Name</td>
                <td class="buttons-column">
                    <input type="submit" value="Delete" onClick="deleteToDo(@item.Id)" />
                </td>
            </tr>
        }
    </tbody>
</table>